:root {
    --darkblue: #394a51;
    --mintgreen: #7fa99b;
    --beachtan: #fbf2d5;
    --sunflower: #fdc57b;

}

/* * {
    border-style: dotted;
} */



body {
    background-color: var(--darkblue);
    color: var(--beachtan);
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
    font-weight: bold;
    color: var(--beachtan);
    padding-bottom: 25px;
    padding-top: 10px;
    margin-left: 0px;
    background-color: var(--mintgreen);
}

h2 {
    text-align: center;
    font-weight: bold;
    color: var(--sunflower);
}

.grid-container {
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 5px;
    margin-top: 10px;

}

.both-sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    margin-left: 15px;
    padding-top: 10px;
}

.left-side {
    width: 600px;
}

.hidden {
    display: none;
}

.right-side {
    width: 800px;
}

#welcome-info {
    margin-right: 20px;
    color: var(--beachtan);

}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    height: auto;
}

.avail-info {
    margin-top: 25px;
}

.field-and-button {
    width: 400px !important;
}

#no-movie-input {
    width: 300px !important;
}

.history-quote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-top: 20px;
}

.quote-box {
    width: 150px;
    margin-right: 50px;
}

.quote {
    margin-top: 10px;
    text-align: center;
    font-size: large;
}

.search-history {
    border-style: solid;
    padding: 15px;
    color: var(--mintgreen);
}

#searched-Movies {
    text-decoration: underline;
    color: var(--beachtan);
}

#search-list {
    padding-top: 10px;
    padding-bottom: 20px;
    color: var(--sunflower);
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    text-transform: capitalize;
}

#movie-quote {
    color: var(--sunflower);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

#movie-quote-person {
    color: var(--sunflower);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#movie-title {
    color: var(--sunflower);
    font-weight: bolder;
}

#title-movie {
    color: var(--sunflower);
    font-weight: bolder;
    font-size: larger;
}

#movie-poster {
    margin-right: 35px;
    margin-left: 20px;
    width: 300px;
    height: 250px;

}

footer {
    color: var(--beachtan);
    background-color: var(--mintgreen);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    text-align: center;
}