:root {
    --darkblue: #394a51;
    --mintgreen: #7fa99b;
    --beachtan: #fbf2d5;
    --sunflower: #fdc57b;

}

/* * {
    border-style: dotted;
} */



body {
    background-color: var(--darkblue);
    color: var(--beachtan);
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

.grid-container {
    padding-left: 0px;
    margin-left: 0px;
    padding-top: 5px;

}